.character-buttons-wrapper {
  position: absolute;
  color: white;
  top: 40%;
  left: 40%;
  display: flex;
  gap: 30px;
  z-index: 11;

  button {
    border: none;
    width: 100px;
    height: 100px;
  }
}
