$walking-man-width: 30400px;
$walking-man-height: 600px;

/*:root {
  /* --width:27200px;
  --width: 30400px;
  --height: 600px;
}*/

.walking-man {
  width: 220px; /* width of one frame */
  height: 240px; /* height of the sprite sheet */
  overflow: hidden;
}

.walking-man .image-wrapper {
  /* width: var(--width);
  height: var(--height); */
  width: $walking-man-width;
  height: $walking-man-height;
  background-image: url("./assets/walking-man.png");
  background-repeat: no-repeat;
  transform: scale(0.4); /* scale down the image */
  transform-origin: top left; /* set origin to top left to align correctly */
}

.walking-man .image-wrapper.walking {
  background-image: url("./assets/walking-man.png");
  animation: walk 1s steps(38) infinite;
}

.walking-reverse {
  background-image: url("./assets/walking-man-reverse.png") !important;
  animation: walk 1s steps(38) infinite reverse;
}

@keyframes walk {
  0% {
    background-position: 0 0;
  }
  100% {
    /* background-position: calc(var(--width) * -1) 0; /* Adjust according to the width of your sprite sheet */
    background-position: calc($walking-man-width * -1) 0;
  }
}

.main-wrapper {
  position: relative;
  height: 500px;
  background-color: white;
}

.swiper-container {
  box-sizing: border-box;
  overflow: hidden;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow-x: auto;
  color: black;
  background-color: white;
}

.swiper-container::-webkit-scrollbar {
  display: none;
}

.sprite {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: calc(50% - 51px);
}

.swiper-wrapper {
  width: fit-content;
  display: flex;
  gap: 500px;
  height: 100%;
  background: url(./assets/bg.svg);
}

.swiper-slide {
  height: 300px;
  width: 300px;
  position: relative;
}

.stall-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: 125px;
  z-index: 5;
}
.stall-interaction {
  display: flex;
  opacity: 0;
  transform: translateX(100px);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  border: 1px solid white;
  background-color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: -110px;
  transition: all 0.9s ease-in-out;
}

.stall-interaction.visible {
  opacity: 1;
  transform: translate(0);
}

.stall-head {
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  background-color: white;
}

.stall-head::after,
.stall-body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.active .stall-head::after,
.active .stall-body::after {
  display: none;
}

.stall-support {
  height: 100px;
  width: 90%;
  box-sizing: border-box;
  border-left: 10px solid brown;
  border-right: 10px solid brown;
  position: absolute;
  top: 70px;
  left: 5%;
}

.stall-body {
  height: 130px;
  width: 100%;
  border: 2px solid black;
  position: absolute;
  bottom: 0px;
  background-color: white;
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.logo-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
