$walking-man-width: 30400px;
$walking-man-height: 600px;

$walking-woman-width: 9600px;
$walking-woman-height: 360px;

.sprite {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: calc(50% - 51px);
}

.walking-man-wrapper {
  position: absolute;
  bottom: 0;
  transform: translate(-65%, 0);
}

.walking-man {
  overflow: hidden;
}

.walking-man.man {
  width: 165px;
  height: 195px;
}

.walking-man.woman {
  width: 165px;
  height: 195px;
}

.walking-man.man .image-wrapper {
  width: $walking-man-width;
  height: $walking-man-height;
  background-image: url("./assets/walking-man.png");
  transform: scale(0.3);
}

.walking-man.woman .image-wrapper {
  width: $walking-woman-width;
  height: $walking-woman-height;
  background-image: url("./assets/walking-woman.png");
  transform: scale(0.5);
}

.walking-man .image-wrapper {
  background-repeat: no-repeat;
  transform-origin: top left;
}

.walking-man.man .image-wrapper.walking {
  background-image: url("./assets/walking-man.png");
  animation: walk 0.8s steps(38) infinite;
}

.walking-man.woman .image-wrapper.walking {
  background-image: url("./assets/walking-woman.png");
  animation: walkWoman 0.8s steps(20) infinite;
}

.walking-man.man .walking-reverse {
  background-image: url("./assets/walking-man-reverse.png") !important;
  animation: walk 0.8s steps(38) infinite reverse;
}

.walking-man.woman .walking-reverse {
  background-image: url("./assets/walking-woman-reverse.png") !important;
  animation: walkWoman 0.8s steps(20) infinite reverse;
}

.walking-man.man .reverse-man {
  background-image: url("./assets/walking-man-reverse.png") !important;
}

.walking-man.woman .reverse-man {
  background-image: url("./assets/walking-woman-reverse.png") !important;
}

@keyframes walk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc($walking-man-width * -1) 0;
  }
}

@keyframes walkWoman {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc($walking-woman-width * -1) 0;
  }
}
